
.centered-container {
    display: flex;
    align-items: center;
}

.header {
    text-align: center;
    background: #1abc9c;
    color: white;
}

.add-button {
    margin-left: 1vw;
}

.employee-result {
    position: absolute;
    right: 60vw;
}

.small-avatar {
    height: 16px;
    width: 16px;
    margin-right: 1vw;
}
